.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
}



.title-box {
  padding: 20px 0px 20px 0px;
  width: 100%;
  font-size: 50px;

  color: white;
  background-color: #282c34;
  
  display: flex;
  justify-content: center;
}

.title {
  width : fit-content;
  cursor: pointer;
  
}

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #252525;

  color : white;
  
  padding-top: 10px;
  padding-bottom: 10px;
}

.score-box {
  font-weight: 500;
}

.life-box {
  font-weight: 500;
}

.App-link {
  color: #61dafb;
}

.game-box {

  
  display: flex;
  justify-content: center;
  height: 100vmin;
}

.game {
  background-color: black;
  color:white;

  display: flex;
  justify-content: center;
}

.gamestate-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-button {
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  transition: all 0.1s ease; /* 애니메이션 효과를 부드럽게 하기 위해 transition을 추가합니다 */
}

.start-button:hover {
  transform: translateY(-5px); /* Y축 방향으로 -10px만큼 이동하여 버튼이 위로 올라가는 효과를 줍니다 */
  box-shadow: 0 0.5em 0.5em -0.4em  #ffffff;
}

.tile-black {
  background-color: black;
  border-radius: 1vmin;
  pointer-events: none;
  
}

.tile-white {
  background-color: white;
  border-radius: 1vmin;
  transition: all 0.3s;
  pointer-events: none;
}



.button-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.tile {
  background-color: black;
  border-radius: 1vmin;
  transition: all 0.1s ease;
  cursor: pointer;
}

.tile-correct {
  background-color: green;
  border-radius: 1vmin;
  transition: all 1s ease;
  pointer-events: none;
}

.tile-wrong {
  background-color: rgba(255, 0, 0, 255);
  border-radius: 1vmin;
  transition: all 1s ease;
  cursor: pointer;
}

.gameover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gameover {
  font-size: 50px;
  color: white;
  border: none;
  pointer-events: none;
}

.score {
  font-size: 50px;
  color: white;
  border: none;
  pointer-events: none;
}

.retry {
  font-size: 50px;
  background-color: black;
  color: white;
  border: none;
  transition:all 0.1s;
  cursor: pointer;
}

.retry:hover {
  font-weight: 600;
  transform: translateY(-5px); 
}

.tail {
  background-color: #252525;
  height: 10vmin;
  display : flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

.developer {
  color : white;
  font-size: 10px;
  text-align: right;
  padding-right: 2em;
}